@font-face {
    font-family: fonthead;
    src: url(../font/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: fonttext;
    src: url(../font/Inter-Regular.ttf);
}

body {
    font-family: fonttext;
    background-image: url(../img/wd-furniture-background.jpg);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fonthead;

}

.home {
    width: 100%;
    height: 100vh;
    // background-color: aliceblue;

    >.row {
        height: 10%;

        >header {
            padding-left: 50px;
            width: 100%;
            display: flex;
            align-items: center;

            >nav {

                ul {


                    li {
                        margin: 10px;

                        >a {
                            &:hover {
                                color: #f59a57;
                            }

                            font-size: 22px;
                        }
                    }
                }
            }
        }


    }

    section {
        width: 100%;
        height: 80%;
        background-image: url(../img/home.jpg);
        background-size: cover;
        background-position: left;

        * {
            width: 100%;
            display: flex;
            align-items: center;
            height: 30%;



        }

        div {

            padding-left: 110px;
            display: flex;
            width: 100%;
            transform: translateX(-800px);
            animation: load .8s linear forwards;

            @keyframes load {
                100% {
                    transform: translateX(0);
                }
            }

            &:nth-of-type(1) {
                display: flex;
                align-items: end;

                p {
                    // border: 1px solid red;
                    width: 25%;
                    position: relative;
                    color: rgb(75, 73, 73);
                    font-size: 1.5vw;
                    text-transform: capitalize;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 25%;
                        height: 3px;
                        background-color: #f59a57;
                        bottom: -8px;
                        left: 25%;
                    }


                }
            }

            &:nth-of-type(2) {
                width: 40%;
                display: flex;
                flex-wrap: wrap;

                h1 {
                    margin-top: 100px;
                    font-size: 3vw;
                    color: rgb(75, 73, 73);

                }

                a {
                    &:hover {
                        background-color: black;
                        color: whitesmoke;

                    }

                    width: 150px;
                    background-color: whitesmoke;
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    border-radius: 50px;
                    text-transform: capitalize;
                    transition: .4s;
                    font-size: 18px;
                }




            }
        }


    }
}

.categories {
    width: 100%;
    height: 100vh;
    // background-color: aliceblue;

    .row {
        div {
            width: 100%;

            &:nth-of-type(1) {
                width: 100%;

                h2,
                p {
                    padding-left: 100px;
                }

                h2 {
                    font-size: 2vw;
                    color: rgb(46, 46, 46);

                }

                p {
                    font-size: 1.2vw;
                    color: rgb(75, 73, 73);
                    padding: 20px 100px;

                }
            }


        }
    }

    .photo-categori {

        .row {
            div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                div {
                    width: 25%;
                    padding: 10px;

                    figure,
                    img,
                    .btn,
                    .btn>span {
                        transition: .4s;
                    }

                    >figure:hover {
                        cursor: pointer;
                    }

                    figure {
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;

                        &:hover::after {
                            opacity: 1;
                        }

                        &:hover>img {
                            width: 100%;
                            height: 100%;

                        }

                        &:hover>.btn {
                            top: -10px;

                        }

                        &:hover>.btn>span {
                            bottom: 80px;
                            opacity: 1;

                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.578);
                            left: 0;
                            top: 0;

                            opacity: 0;
                            transition: .8s;

                        }

                        width: 250px;
                        height: 250px;

                        img {
                            width: 110%;
                            height: 110%;
                        }

                        .btn {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;

                            a {
                                width: 100px;
                                height: 40px;
                                font-size: 22px;
                                text-transform: capitalize;
                                background-color: aliceblue;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 20px;
                                z-index: 3;
                            }

                            span {
                                display: flex;
                                width: 100%;
                                justify-content: center;
                                position: absolute;
                                bottom: 0;
                                opacity: 0;
                                color: white;
                                font-size: 20px;
                                z-index: 3;

                            }
                        }
                    }
                }
            }

        }

    }

}

.Weekly {
    background-image: url(../img/wd-furniture-background.jpg);

    //   background-size: cover;
    .row {
        justify-content: center;

        div {
            width: 100%;

            &:nth-of-type(1) {
                width: 100%;
                display: flex;
                justify-content: space-between;

                >h4 {
                    width: 50%;
                    font-size: 1.8vw;
                    color: rgb(36 36 36);
                    padding: 20px 120px;
                }

                nav {
                    width: 40%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding-right: 100px;

                    ul {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        li {

                            height: 100%;
                            display: flex;
                            align-items: center;
                            position: relative;
                            font-size: 22px;
                            color: rgb(107, 107, 107);


                            &:hover::after {
                                width: 100%;

                            }

                            &:hover {
                                color: black;

                            }

                            &::after {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 2px;
                                background-color: #f59a57;
                                left: 0;
                                bottom: -5px;
                                transition: .4s;

                            }

                        }
                    }
                }
            }

            &:nth-of-type(2) {
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                div {
                    width: 300px;
                    height: 400px;
                    overflow: hidden;
                    transition: .6s;
                    margin: 15px;
                    background-color: #ffffff;
                    box-shadow: 0 0 5px 5px rgb(237, 237, 237);

                    &:hover {
                        transform: translateY(-12px);
                    }

                    figure {
                        width: 100%;
                        height: 100%;

                        // margin: 10px;

                        &:hover>figcaption>span {
                            transform: translateY(-50px);

                        }

                        &:hover>figcaption>a {

                            bottom: 5px;
                        }



                        img {
                            width: 100%;
                            height: 80%;



                        }

                        figcaption {
                            >* {
                                transition: .6s;
                            }

                            position: relative;

                            span {
                                width: 100%;
                                display: flex;
                                padding: 5px;

                                &:nth-of-type(2) {
                                    color: #f59a57;
                                    font-size: 22px;
                                }
                            }

                            a {
                                width: 150px;
                                height: 35px;
                                background-color: #f59a57;
                                border-radius: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                bottom: -50px;
                                font-size: 20px;

                            }
                        }
                    }
                }
            }
        }
    }
}

.brands {
    width: 100%;
    min-height: 70vh;

    .row {
        padding-top: 50px;

        div {
            width: 100%;

            &:nth-of-type(1) {
                padding: 10px 110px;

                >h4 {
                    font-size: 1.8vw;
                    color: rgb(21, 21, 21);
                }

                >p {
                    color: #595959;
                    padding: 10px;

                }

            }

            &:nth-of-type(2) {
                width: 100%;

                .row {
                    justify-content: space-between;

                    >figure {
                        width: 300px;
                        height: 400px;
                        border-radius: 20px;
                        position: relative;

                        &:hover::after {
                            opacity: 1;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.397);
                            opacity: 0;
                            top: 0;
                            left: 0;
                            transition: .4s;
                            border-radius: 20px;
                        }

                        >img {
                            width: 100%;
                            height: 100%;
                            border-radius: 20px;
                        }

                        figcaption {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            z-index: 2;

                            p {
                                color: rgb(222, 221, 221);
                            }
                        }
                    }
                }
            }
        }
    }
}

.rules {
    .row {
        div {
            width: 100%;
            min-height: 50vh;
            // border: 1px solid red;
            padding: 0 110px;
            padding-top: 50px;


            &:nth-of-type(1) {
                width: 40%;

                >h4 {
                    font-size: 1.8vw;
                }

                >figure {
                    width: 550px;
                    height: 550px;

                    >img {
                        width: 100%;
                        height: 100%;
                    }
                }

            }

            &:nth-of-type(2) {
                width: 60%;

                // background-color: aqua;
                >p {
                    &:nth-of-type(1) {
                        font-size: 1.2vw;

                    }

                    &:nth-of-type(2) {
                        color: #6d6d6d;
                        padding: 20px 0;
                    }
                }

                ul {
                    position: relative;


                    li {
                        transform: translateY(-5px);
                        padding: 5px;
                        list-style-image: url(../img/wd-furniture-dot-list.svg) !important;
                        color: #6d6d6d;
                    }
                }

                figure {
                    width: 90%;
                    padding: 20px 0;

                    >img {
                        width: 100%;
                        height: 100%;
                        border-radius: 200px;

                    }
                }
            }
        }
    }
}

.Furniture {
    width: 100%;

    margin-top: 100px;

    .row {
        div {
            &:nth-of-type(1) {

                width: 60%;
                padding-left: 110px;

                h5 {
                    font-size: 1.5vw;
                }

                p {
                    padding: 10px 0;
                }

                div {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding-left: 0;

                    figure {
                        width: 250px;
                        height: 350px;
                        position: relative;
                        border-radius: 20px;
                        overflow: hidden;
                        margin: 10px;
                        box-shadow: 0 0 2px 3px rgb(235, 233, 233);

                        &:hover>figcaption {
                            transform: translateY(-45px);
                        }

                        &:hover>figcaption>a:nth-of-type(2) {
                            transform: translateY(-10px);
                        }

                        >img {
                            width: 100%;
                            height: 100%;


                        }

                        figcaption {

                            transition: .6s;

                            >* {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                position: absolute;
                            }

                            a {

                                &:nth-of-type(1) {
                                    bottom: 40px;
                                    font-size: 1.2vw;

                                }

                                &:nth-of-type(2) {
                                    width: 150px;
                                    height: 40px;
                                    background-color: #f59a57;
                                    color: white;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 20px;
                                    font-size: 20px;
                                    transition: .6s;
                                }
                            }

                            span {
                                bottom: 20px;
                                color: #f59a57;
                            }
                        }
                    }
                }
            }

            &:nth-of-type(2) {
                width: 40%;

                figure {
                    width: 450px;
                    height: 600px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    min-height: 40vh;
    background-color: #181818;
    margin-top: 100px;

    .row {
        div {
            &:nth-of-type(1) {
                width: 60%;

                display: flex;
                padding: 50px 100px;
                align-items: center;

                ul {
                    padding: 20px;

                    li {
                        color: #7b7b7b;
                        font-size: 22px;
                        cursor: pointer;
                        margin: 20px;
                        position: relative;

                        &:hover::after {
                            width: 100%;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 2px;
                            left: 0;
                            bottom: -2px;
                            background-color: #f59a57;
                            transition: .4s;
                        }

                    }
                }


            }

            &:nth-of-type(2) {
                width: 40%;
                display: flex;
                align-items: center;

                figure {
                    width: 200px;
                    height: 200px;
                    >img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                ul {    
                    padding: 10px; 
                    li {
                        a {
                            color:white;
                        }
                    }
                }
            }
        }
    }
}