
.icon-chair:before { content: '\e800'; } /* '' */
.icon-wd-furniture-armchairs-1:before { content: '\e802'; } /* '' */
.icon-wd-furniture-beds-1:before { content: '\e803'; } /* '' */
.icon-wd-furniture-sofas-1-(1):before { content: '\e804'; } /* '' */
.icon-wd-furniture-storage-1:before { content: '\e805'; } /* '' */
.icon-wd-furniture-tables-1:before { content: '\e806'; } /* '' */
